.footer {
    width: 100%;
    background-color: $dark-gray;
    height: 30rem;
    padding: 3rem 20%;
    display: flex;
    justify-content: space-between;
    @include media-tablet-portrait {
        flex-direction: column;
        height: max-content;
        padding-bottom: 15rem;
    }

    &__title {
        color: $white;
        margin-bottom: 2rem;
        text-transform: uppercase;
        
    }
    &__link {
        color: $white;
        margin-bottom: .3rem;
    }

    &__input {
        height: 4rem;
        border-radius: .5rem;
    }

    &__button {
        text-transform: none;
        padding: 0.5rem 2rem;
        border-radius: .5rem;
        font-size: 1.4rem;
    }

    &__section1 {
        display: flex;
        flex-direction: column;
        width: 17%;
        align-items: center;
        height: 100%;
        
        @include media-tablet-portrait {
            width: 100%;
            padding: 0;
        }
        &__logo {
            margin-bottom: 3rem;
            cursor: pointer;
            height: 5rem;
            @include media-tablet-portrait {
                margin-bottom: 0;
            }
        }
        &__social {
            margin-bottom: 3rem;
            width: 50%;
            display: flex;
            justify-content: space-evenly;

            &--facebook {
                cursor: pointer;
            }
            &--instagram {
                cursor: pointer;
                opacity: .5;
            }
            &--twitter {
                cursor: pointer;
                opacity: .5;
            }
        }
        &__title {
            color: $white;
            font-size: 1rem;
            text-align: center;
        }
    }

    &__section2 {
       width: 17%;
        @include media-tablet-portrait {
            display: none;
        }

    }
    &__section3 {
       width: 17%;
        padding-top: 3rem;
        &__title {
            color: $white;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }
        &__description {
            color: $white;
            font-size: 1.4rem;
        }
        &__donate {
            color: $yellow-main;
            text-decoration: underline;
            font-size: 1.4rem;
            cursor: pointer;
        }
        @include media-tablet-portrait {
            width: 100%;
        }
    }

    &__section4 {
        width: 17%;
         padding-top: 3rem;
         @include media-tablet-portrait {
            width: 100%;
            margin-bottom: 2rem;
        }
     }

     &__section5 {
        width: 17%;
         padding-top: 3rem;
     }
}