//*  COLORS    //
$black: #000000;
$white: #ffffff;
$yellow-main: #00a2ff;
$yellow-dark: 	#0065ff;
$dark-gray: #1b2A2E;
$gray-light: #3b444b;
$gray-white: #F2F1F1;
$gray-lighter: #888B8B;
$gray-white-border: #EEEEEE;
$red: #E90101;
$light-blue: #EFF6FB;
$green: #2DB231;
$dark-blue: #004D81;
$dogGray : #C1C0BF;
$dogGold : #FFC37B;
$dogBrown : #4F2D0E;
$tagBlue: #5563DF;
$tagRed: #D92443;
$tagGreen: #01A179;
$darkBackground: #1B1B2F;
$darkSurface: #1F4068;
$darkLight: #162447;
$lightGray: #AFB4B3;
$messageBlue: #BEE0F8;
$lightBlueEdge: #25A0D9;
$blogGray: #F3F3F3;
//*   FONT SIZES  //
$default-font-size: 1.6rem;
$small-font-size: 1.2rem;
//* ANIMATION DURATIONS //
$left-hero-box-fadein: .7s;
$bottom-hero-box-fadein: .7s;
$main-hero-box-fadein: .7s;
$bottom-hero-box-delay: .7s;
$main-hero-box-delay: 1.4s;
$loginPageSwitchDuration: .7s;
$filter-toggle-animation: .15s;
$dog-tabs-fadein: .5s;
$dog-hero-fadein: .5s;
$dog-overview-fadein: .4s;

$dog-overview-info-width: 95%;
$grid-width: 100%;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;

$darkModeTransition: .4s;