.pokemon {
    padding: 5rem 10%;
    display: flex;
    @include media-phone {
        flex-direction: column;
    }
    &__image {
        min-width: 25rem;
        width: 20%;
        height: 40rem;
        @include media-phone {
            width: 100%;
        }
    }
    &__info {
        width: 80%;
        padding: 0 2rem;
         @include media-phone {
            width: 100%;
            padding: 0;
        }
    }
    &__title {
        font-size: 4rem;
    }
    &__subtitle {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__stat {
        font-family: Cairo;
        font-size: 2rem;
    }
    &__all-info {
        display: flex;
        flex-wrap: wrap;
         @include media-phone {
            flex-direction: column;
        }
    }
    &__group {
        width: 25%;
        @include media-tablet {
            width: 50%;
        }
        @include media-phone {
            width: 100%;
        }
    }
    &__loader {
        width: 100%;
        height: 10rem;
    }

    &__button {
        margin-top: 2rem;
    }

}